.container-slider-home {
    /* background-image: url('../../Images/dog.png'); */
    /* background-color: white; */
    /* background-image: linear-gradient(0deg, yellowgreen 0%, #4CAF50 15%, green 85%, yellowgreen 100%); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 2px solid orangered; */
    border-radius: 6px;
    width: 70%;
    height: 415px;
    margin: 5px auto;
    padding: 2px;
}