.card-link {
    text-decoration: none;
    color: black;
}

.card {
    background-color: lightyellow;
    box-shadow: 1px 1px 3px white, -1px -1px 3px white;
    border: 2px solid green;
    border-radius: 6px;
    width: 23%;
    height: 195px;
    margin: 2px 3px;
    cursor: pointer;
    /* padding: 1px; */
}

.card:hover {
    box-shadow: 1px 1px 15px orangered;
    transform: scale(1.05);
    border: 2px solid orangered;
}

.card-image {
    width: 120px;
    height: 85px;
    border-radius: 6px;
    box-shadow: 1px 1px 5px rgb(51, 51, 51), -1px -1px 5px rgb(51, 51, 51);
    border: 2px solid white;
    margin: 3px 0px 0px 0px;
}

.card-content {
    background-color: rgba(255, 69, 0, 0.3);
    border-radius: 6px;
    height: 50% !important;
}

.card-content-title {
    background-color: green;
    border-radius: 3px;
    font-size: 15px;
    color: white;
    margin: 0;
    padding: 0;
}

.card-content-title:hover {
    background-color: orangered;
}

.card-content-detail,
strong {
    text-align: left;
    font-size: 12px;
    margin: 0;
    padding: 0;
    margin: 1px;
}